<h1>Show List</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @list.name %>
  </li>

  <li>
    <strong>Token:</strong>
    <%= @list.token %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.list_path(@conn, :edit, @list) %></span>
